.btn {
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: 600;
  line-height: 1.5;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  text-align: center;

  &:focus {
    outline: 0;
  }
}

@include generate-solid-btn('primary', $primary, $gray-f8);
@include generate-outline-btn('primary', $primary, $gray-f8);
