.btn {
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: 600;
  line-height: 1.5;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  text-align: center;

  &:focus {
    outline: 0;
  }

  &.btn-primary {
    background-color: $primary;
    border: 1px solid $primary;
    color: $gray-f8;

    &:hover {
      background-color: $gray-f8;
      color: $primary;
    }
  }
}
