.carousel {
  position: relative;

  &__dot {
    display: flex;

    li {
      line-height: 6px;
      @media (min-width: map-get($grid-breakpoints, md)) {
        line-height: 10px;
      }

      ~ li {
        margin-left: 0.25rem;

        @media (min-width: map-get($grid-breakpoints, md)) {
          line-height: 0.5rem;
        }
      }
    }

    button {
      @include generate-dot;
      background-color: $white;
      opacity: 0.5;

      @media (min-width: map-get($grid-breakpoints, md)) {
        @include generate-dot(10px);
      }
    }

    .active {
      opacity: 1;
    }
  }
}
