.carousel {
  position: relative;

  &__dot {
    bottom: 0.5rem;
    display: flex;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);

    li {
      line-height: 6px;

      ~ li {
        margin-left: 0.25rem;
      }
    }

    button {
      @include generate-dot;
      background-color: $white;
      opacity: 0.5;
    }

    .active {
      opacity: 1;
    }
  }
}
