@charset "UTF-8";
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.btn {
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: 600;
  line-height: 1.5;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  text-align: center;
}

.btn:focus {
  outline: 0;
}

.btn.btn-primary {
  background-color: #178fac;
  border: 1px solid #178fac;
  color: #f8f8f8;
}

.btn.btn-primary:hover {
  background-color: #f8f8f8;
  color: #178fac;
}

.carousel {
  position: relative;
}

.carousel__dot {
  bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.carousel__dot li {
  line-height: 6px;
}

.carousel__dot li ~ li {
  margin-left: 0.25rem;
}

.carousel__dot button {
  border-radius: 50%;
  height: 6px;
  width: 6px;
  background-color: #fff;
  opacity: 0.5;
}

.carousel__dot .active {
  opacity: 1;
}

.card {
  background-color: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  padding: 12px 10px 5px;
  position: relative;
}

.card__title {
  color: #454545;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1.75;
}

.card__img {
  border-radius: 6px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 40.58%;
}

.header {
  background-image: url("../images/首圖.png");
  background-position: center;
  background-size: cover;
  height: 210px;
}

@media (min-width: 768px) {
  .header {
    background-image: url("../images/首圖@2x.png");
  }
}

@media (min-width: 1024px) {
  .header {
    background-image: url("../images/首圖@3x.png");
  }
}

.footer {
  background-color: #454545;
  padding-bottom: 20px;
  padding-top: 30px;
}

.footer .btn {
  padding-bottom: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.375rem;
}

.index .card ~ .card {
  margin-top: 0.5rem;
}

.index__seriesCourses .card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
}

.index__seriesCourses .card__title {
  color: #595959;
  letter-spacing: normal;
  line-height: 1.31;
}

.index__studentEvaluation {
  background-image: url("../images/bg-student-375.png");
  background-position: center;
  background-size: cover;
  padding-bottom: 1.375rem;
  padding-top: 1.25rem;
}

@media (min-width: 768px) {
  .index__studentEvaluation {
    background-image: url("../images/bg-student-375@2x.png");
  }
}

@media (min-width: 1024px) {
  .index__studentEvaluation {
    background-image: url("../images/bg-student-375@3x.png");
  }
}

.index__studentEvaluation .card__title {
  color: #8c8c8c;
  font-size: 0.875rem;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.29;
}

.index__studentEvaluation .card__img {
  border-radius: 2px;
  margin-right: 0.25rem;
  width: 21.17263%;
}

.index__lecturer ul {
  -webkit-transform: translateX(-32%);
          transform: translateX(-32%);
}

.index__lecturer li {
  position: relative;
  width: 53.3333%;
}

.index__lecturer li > div {
  border-radius: 6px;
  bottom: 0;
  color: #fff;
  left: 0;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 1.75rem;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.index__lecturer li:hover img {
  -webkit-filter: brightness(0.3);
          filter: brightness(0.3);
}

.index__lecturer li:hover > div {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.index__lecturer img {
  border-radius: 6px;
  height: 278px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.index__openCourse img {
  display: block;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 64%;
}

.index__openCourse .btn {
  display: block;
  margin: 0 auto;
  width: 42.66666%;
}

.index__job .card {
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 10px;
}

.index__job .card__title {
  color: #595959;
  letter-spacing: normal;
  line-height: 1.19;
}

.index__job .card::after {
  border-color: transparent #178fac transparent transparent;
  border-style: solid;
  border-width: 0 26.1px 21.7px 0;
  content: '';
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
}

.index__article li {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 0.5rem;
  width: 69.5652%;
}

.index__article img {
  display: block;
  height: 128px;
  margin-bottom: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.index__carouselList {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 0.5rem;
  width: 94.20289%;
}

.index__dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.index__dot li {
  line-height: 6px;
}

.index__dot li ~ li {
  margin-left: 0.25rem;
}

.index__dot button {
  border-radius: 50%;
  height: 6px;
  width: 6px;
  background-color: #bfbfbf;
  opacity: 0.5;
}

.index__dot .active {
  opacity: 1;
}
