.row {
  @include margin-x($grid-gutter-width * -1);
  display: flex;
}

.col {
  @include padding-x($grid-gutter-width);
  width: 100%;
}

@for $i from 1 through $grid-columns {
  .col-md-#{$i} {
    @media (min-width: map-get($grid-breakpoints, md)) {
      @include grid($i);
    }
  }
}

@for $i from 1 through $grid-columns {
  .col-lg-#{$i} {
    @media (min-width: map-get($grid-breakpoints, lg)) {
      @include grid($i);
    }
  }
}
