.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  // @media (min-width: map-get($grid-breakpoints, sm)) {
  //   margin-left: auto;
  //   margin-right: auto;
  //   padding-left: 0;
  //   padding-right: 0;
  // }
  // @media (min-width: map-get($grid-breakpoints, md)) {
  //   padding-left: 15px;
  //   padding-right: 15px;
  // }
}
