// colors
$primary: #178fac;
$white: #fff;
$gray-45: #454545;
$gray-500: #bfbfbf;
$gray-600: #8c8c8c;
$gray-700: #595959;

// breakpoints
$grid-breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  2xxl: 1536px
);

// box-shadow
$box-shadow-lg-plus: 0 5px 20px -3px rgba(0, 0, 0, 0.1), 
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
