.index {
  .card {
    cursor: pointer;
  }

  // 課程篩選
  &__courseFilter {
    @media (min-width: map-get($grid-breakpoints, md)) {
      left: 50%;
      position: absolute;
      top: 316px;
      transform: translateX(-50%);
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
      top: 621px;
    }

    > div {
      background-color: $white;

      @media (min-width: map-get($grid-breakpoints, md)) {
        border-radius: 6px;
        box-shadow: $box-shadow-lg-plus;
        padding-left: 28.5px;
        padding-right: 26.5px;
      }
    }

    &.container {
      @media (min-width: map-get($grid-breakpoints, md)) {
        max-width: 1100px;
      }
    }
  }

  // 課程分類
  &__courseClass {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;

    @media (min-width: map-get($grid-breakpoints, md)) {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
    }
  }

  // 熱門標籤
  &__tags {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;

    @media (min-width: map-get($grid-breakpoints, md)) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  // 系列課程
  &__seriesCourses {
    &.container {
      @media (min-width: map-get($grid-breakpoints, lg)) {
        overflow: initial;
      }
    }

    .row {
      @include margin-x(0.25rem * -1);
      position: relative;
      @media (min-width: map-get($grid-breakpoints, md)) {
        @include margin-x(0.5rem * -1);
      }
    }

    .col {
      @include padding-x(0.25rem);
      flex-shrink: 0;
      width: 94.20289%;
      @media (min-width: map-get($grid-breakpoints, md)) {
        @include padding-x(0.5rem);
      }
    }

    .card {
      align-items: center;
      display: flex;
      padding: 0.5rem;

      @media (min-width: map-get($grid-breakpoints, md)) {
        padding: 0.75rem;
      }

      &:nth-of-type(3n) {
        @media (min-width: map-get($grid-breakpoints, md)) {
          display: none;
        }
      }

      &__title {
        color: $gray-700;
        letter-spacing: normal;
        line-height: 1.31;
        @media (min-width: map-get($grid-breakpoints, lg)) {
          color: $gray-45;
          font-size: 1.25rem;
          line-height: 1.45;
        }
      }

      &__img {
        img {
          height: 76px;
          width: 138px;
          @media (min-width: map-get($grid-breakpoints, lg)) {
            border-radius: 6px;
            height: 101px;
            width: 180px;
          }
        }
      }
    }

    dl {
      align-self: stretch;
    }
  }

  // 學生口碑
  &__studentEvaluation {
    background-image: url('../images/bg-student-375.png');
    background-position: center;
    background-size: cover;
    padding-bottom: 1.375rem;
    padding-top: 1.25rem;
    @media (min-width: map-get($grid-breakpoints, md)) {
      background-image: url('../images/bg-student-375@2x.png');
      padding-bottom: 4.65rem;
      padding-top: 2.5rem;
    }
    @media (min-width: map-get($grid-breakpoints, lg)) {
      background-image: url('../images/bg-student-375@3x.png');
    }

    .container {
      @media (min-width: map-get($grid-breakpoints, lg)) {
        overflow: initial;
      }
    }

    .row {
      @include margin-x(0.25rem * -1);
      position: relative;
      @media (min-width: map-get($grid-breakpoints, md)) {
        @include margin-x(0.5rem * -1);
      }
    }

    .col {
      @include padding-x(0.25rem);
      flex-shrink: 0;
      width: 94.20289%;
      @media (min-width: map-get($grid-breakpoints, md)) {
        @include padding-x(0.5rem);
      }
    }

    .card {
      cursor: unset;
      
      @media (min-width: map-get($grid-breakpoints, lg)) {
        padding: 12px 22px;
      }

      &__title {
        color: $gray-600;
        font-size: 0.875rem;
        font-weight: normal;
        letter-spacing: normal;
        line-height: 1.29;
        @media (min-width: map-get($grid-breakpoints, lg)) {
          line-height: 1.43;
        }
      }

      &__img {
        margin-right: 0.25rem;
        @media (min-width: map-get($grid-breakpoints, lg)) {
          margin-right: 0.5rem;
        }

        img {
          border-radius: 2px;
          height: 38px;
          width: 65px;
        }
      }
    }
  }

  // 熱門講師
  &__lecturer {
    .row {
      @include margin-x(0.25rem * -1);
      transform: translateX(-120px);
      @media (min-width: map-get($grid-breakpoints, md)) {
        @include margin-x(-10px);
        transform: translateX(-220px);
      }
    }

    .col {
      @include padding-x(0.25rem);
      flex-shrink: 0;
      position: relative;
      width: 200px;
      @media (min-width: map-get($grid-breakpoints, md)) {
        @include padding-x(10px);
        width: 320px;
      }

      > div {
        border-radius: 6px;
        bottom: 0;
        color: $white;
        left: 0;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-top: 1.75rem;
        position: absolute;
        right: 0;
        top: 0;
        transform: scale3d(0, 1, 1);
        transform-origin: 100% 50%;
        transition: transform 0.3s;

        @media (min-width: map-get($grid-breakpoints, md)) {
          padding-left: 2rem;
          padding-right: 2rem;
          padding-top: 69px;
        }
      }

      &:hover img {
        filter: brightness(0.3);
      }

      &:hover > div {
        transform: scale3d(1, 1, 1);
        transform-origin: 0% 50%;
      }
    }

    img {
      border-radius: 6px;
      height: 278px;
      object-fit: cover;
      width: 100%;
      @media (min-width: map-get($grid-breakpoints, md)) {
        height: 440px;
      }
    }
  }

  // 我要開課
  &__openCourse {
    img {
      margin-bottom: 1.5rem;
      margin-left: auto;
      margin-right: auto;
      object-fit: cover;
      width: 64%;
      @media (min-width: map-get($grid-breakpoints, md)) {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        width: 500px;
      }
    }

    .btn {
      display: block;
      margin: 0 auto;
      width: 42.66666%;
      @media (min-width: map-get($grid-breakpoints, md)) {
        width: 200px;
      }
    }
  }

  // 最新職缺
  &__job {
    .card {
      padding-bottom: 0.5rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      padding-top: 10px;

      @media (min-width: map-get($grid-breakpoints, md)) {
        padding-bottom: 0.75rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-top: 0.875rem;
      }

      &__title {
        color: $gray-700;
        letter-spacing: normal;
        line-height: 1.19;
      }

      &::after {
        border-color: transparent $primary transparent transparent;
        border-style: solid;
        border-width: 0 26.1px 21.7px 0;
        content: '';
        height: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
      }
    }
  }

  // 最新文章
  &__article {
    .row {
      @include margin-x(0.25rem * -1);
      @media (min-width: map-get($grid-breakpoints, md)) {
        @include margin-x(0.5rem * -1);
      }
    }

    .col {
      @include padding-x(0.25rem);
      cursor: pointer;
      flex-shrink: 0;
      position: relative;
      width: 69.5652%;
      @media (min-width: map-get($grid-breakpoints, md)) {
        @include padding-x(0.5rem);
        width: 32%;
      }
    }

    img {
      display: block;
      height: 128px;
      margin-bottom: 0.5rem;
      object-fit: cover;
      width: 100%;
      @media (min-width: map-get($grid-breakpoints, md)) {
        height: 170px;
        margin-bottom: 1rem;
      }
    }
  }

  // 輪播遮罩
  &__carouselMask {
    bottom: 0;
    display: none;
    position: absolute;
    top: 0;
    width: 100px;
    @media (min-width: map-get($grid-breakpoints, md)) {
      display: block;
    }

    &.left {
      background-image: linear-gradient(269deg, rgba(250, 250, 250, 0) 98%, $gray-f5 10%);
      left: 0;
    }

    &.right {
      background-image: linear-gradient(to right, rgba(250, 250, 250, 0) 1%, $gray-fa 91%);
      right: 0;
    }
  }

  // 輪播箭頭
  &__carouselArrow {
    bottom: 0;
    color: $day;
    display: none;
    font-size: 1.5rem;
    line-height: 1;
    margin: auto;
    position: absolute;
    top: 0;
    @media (min-width: map-get($grid-breakpoints, xl)) {
      display: block;
    }

    &.next {
      right: -36px;
    }

    &.previous {
      left: -36px;
    }
  }

  // 輪播的點
  &__dot {
    display: flex;
    justify-content: center;

    @media (min-width: map-get($grid-breakpoints, md)) {
      display: none;
    }

    li {
      line-height: 6px;

      ~ li {
        margin-left: 0.25rem;
      }
    }

    button {
      @include generate-dot;
      background-color: $gray-500;
      opacity: 0.5;
    }

    .active {
      opacity: 1;
    }
  }
}
