.index {
  .card ~ .card {
    margin-top: 0.5rem;
  }

  // 系列課程
  &__seriesCourses {
    .card {
      align-items: center;
      display: flex;
      padding: 0.5rem;
      

      &__title {
        color: $gray-700;
        letter-spacing: normal;
        line-height: 1.31;
      }
    }
  }
  // 系列課程列表
  &__seriesCoursesList {
    flex-shrink: 0;
    margin-right: 0.5rem;
    width: 94.20289%;
  }

  // 學生口碑
  &__studentEvaluation {
    background-image: url('../images/bg-student-375.png');
    background-position: center;
    background-size: cover;
    padding-bottom: 1.375rem;
    padding-top: 1.25rem;
    @media (min-width: map-get($grid-breakpoints, md)) {
      background-image: url('../images/bg-student-375@2x.png');;
    }
    @media (min-width: map-get($grid-breakpoints, lg)) {
      background-image: url('../images/bg-student-375@3x.png');;
    }

    .card {
      &__title {
        color: $gray-600;
        font-size: 0.875rem;
        font-weight: normal;
        letter-spacing: normal;
        line-height: 1.29;
      }

      &__img {
        border-radius: 2px;
        margin-right: 0.25rem;
        width: 21.17263%;
      }
    }
  }
  // 學生口碑列表
  &__studentEvaluationList {
    flex-shrink: 0;
    margin-right: 0.5rem;
    width: 94.20289%;
  }

  &__dot {
    display: flex;
    justify-content: center;

    li {
      line-height: 6px;

      ~ li {
        margin-left: 0.25rem;
      }
    }

    button {
      @include generate-dot;
      background-color: $gray-500;
      opacity: 0.5;
    }

    .active {
      opacity: 1;
    }
  }
}
