.index {
  .card ~ .card {
    margin-top: 0.5rem;
  }

  // 系列課程
  &__seriesCourses {
    .card {
      align-items: center;
      display: flex;
      padding: 0.5rem;
      

      &__title {
        color: $gray-700;
        letter-spacing: normal;
        line-height: 1.31;
      }
    }
  }

  // 學生口碑
  &__studentEvaluation {
    background-image: url('../images/bg-student-375.png');
    background-position: center;
    background-size: cover;
    padding-bottom: 1.375rem;
    padding-top: 1.25rem;
    @media (min-width: map-get($grid-breakpoints, md)) {
      background-image: url('../images/bg-student-375@2x.png');;
    }
    @media (min-width: map-get($grid-breakpoints, lg)) {
      background-image: url('../images/bg-student-375@3x.png');;
    }

    .card {
      &__title {
        color: $gray-600;
        font-size: 0.875rem;
        font-weight: normal;
        letter-spacing: normal;
        line-height: 1.29;
      }

      &__img {
        border-radius: 2px;
        margin-right: 0.25rem;
        width: 21.17263%;
      }
    }
  }

  // 熱門講師
  &__lecturer {
    ul {
      transform: translateX(-32%);
    }

    li {
      position: relative;
      width: 53.3333%;

      > div {
        border-radius: 6px;
        bottom: 0;
        color: $white;
        left: 0;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-top: 1.75rem;
        position: absolute;
        right: 0;
        top: 0;
        transform: scale(0);
        transition: transform 0.3s;
      }

      &:hover img {
        filter: brightness(0.3);
      }

      &:hover > div {
        transform: scale(1);
      }
    }

    img {
      border-radius: 6px;
      height: 278px;
      object-fit: cover;
      width: 100%;
    }
  }

  // 我要開課
  &__openCourse {
    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 1.5rem;
      object-fit: cover;
      width: 64%;
    }

    .btn {
      display: block;
      margin: 0 auto;
      width: 42.66666%;
    }
  }

  // 最新職缺
  &__job {
    .card {
      padding-bottom: 0.5rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      padding-top: 10px;

      &__title {
        color: $gray-700;
        letter-spacing: normal;
        line-height: 1.19;
      }

      &::after {
        border-color: transparent $primary transparent transparent;
        border-style: solid;
        border-width: 0 26.1px 21.7px 0;
        content: '';
        height: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
      }
    }
  }

  // 最新文章
  &__article {
    li {
      flex-shrink: 0;
      margin-right: 0.5rem;
      width: 69.5652%;
    }

    img {
      display: block;
      height: 128px;
      margin-bottom: 0.5rem;
      object-fit: cover;
      width: 100%;
    }
  }

  // 輪播列表
  &__carouselList {
    flex-shrink: 0;
    margin-right: 0.5rem;
    width: 94.20289%;
  }

  &__dot {
    display: flex;
    justify-content: center;

    li {
      line-height: 6px;

      ~ li {
        margin-left: 0.25rem;
      }
    }

    button {
      @include generate-dot;
      background-color: $gray-500;
      opacity: 0.5;
    }

    .active {
      opacity: 1;
    }
  }
}
