.footer {
  background-color: $gray-45;
  padding-bottom: 20px;
  padding-top: 30px;

  .btn {
    padding-bottom: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.375rem;
  }
}
