.footer {
  background-color: $gray-45;
  padding-bottom: 20px;
  padding-top: 30px;
  @media (min-width: map-get($grid-breakpoints, md)) {
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
  }

  .btn {
    padding-bottom: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.375rem;
    @media (min-width: map-get($grid-breakpoints, md)) {
      padding-bottom: 6px;
      padding-left: 13.5px;
      padding-right: 13.5px;
      padding-top: 6px;
    }
  }
}
